<!-- Desktop NAV -->
<nav class="navbar">
  <div class="links">
    <div class="profile-image-container">
       
    </div>
    <a href="./" class="navbar-link"> Home </a>
    <a href="./experiences" class="navbar-link"> Experiences    </a>
    <a href="./portfolio" class="navbar-link"> Portfolio </a>
    <a href="./blog" class="navbar-link"> Blog </a>
    <a href="./about" class="navbar-link"> About  </a>
    <a href="./contact-me" class="navbar-link"> Contact Me </a>
    <% if user_signed_in? %>
      <%= link_to "logout", destroy_user_session_path, method: :delete, class: "navbar-link"%></p>
    <% else %>
      <%= link_to "login", new_user_session_path, class: "navbar-link"%>
    <% end %>
  </div>
</nav>