<%# JavaScript for the button below %>
<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>

<h3> Payment </h3>
<p> Please make the below payment to complete the booking </p>

<%#  The below only displays the button to the parent.  %>
<% if current_user.role_id == 1 %>

  <button data-stripe="payment" class="btn btn-primary">
  Pay Sitter <%= number_to_currency(@payment.price) %>
  </button>

<% elsif %>

  <h3> Your payment has been sent! </h3>

<% end %>



