<%# JavaScript for the button below %>
<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>

<% if current_user.role_id == 1 %>

  <button data-stripe="payment">
  Pay Sitter <%= number_to_currency(@payment.price) %>
  </button>

<% elsif %>

  <h3> Your payment has been sent! </h3>

  


<% end %>

