/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Fonts */

body {
  margin: 1rem;
}
@import url("https://fonts.googleapis.com/css?family=Manjari:700|Roboto:700&display=swap");

:root {
  --main-orange: #EF6248;
  --main-grey: #232323;
  --main-green: #1F9397;
  --main-white: white;
  --font-family-one: 'Manjari', sans-serif;
  --font-family-two: 'Roboto', sans-serif;
  --font-family-three: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
}

a {
  text-decoration: none;
}

body {
  font-family: var(--font-family-two);
}


